.root {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  li {
    display: inline-flex;
    
  }
  a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border: 1px solid #0ee0aa;
    border-radius: 50%;
    color: #0ee0aa;
    cursor: pointer;
    &:hover {
      background-color: #00cc98;
      color: #fff;
    }
  }
  :global {
    .selected {
      a {
        background-color: #00cc98;
        color: #fff;
      }
    }
  }
}
