.root {
    color: #ffff;
    flex-direction: column;
    text-align: center;
    z-index: 99;
}
.welcome {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}
.register {
  color: #ffff;
}